<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">

<title>Envanter Listesi</title>
</head>

<body>


	<h3>Envanter Listesi</h3>
	<hr>
	<a th:href="@{/env/addEnvanterForm}"
		class="btn btn-primary btn-sm mb-3"> Envanter Ekle</a>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Envanter Adı</th>
				<th>Envanter Kodu</th>
				<th>Envanter Miktarı</th>
				<th>Kritik Stok</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="envanter : ${envanterler}">

				<td th:text="${envanter.envanterAdi}" />
				<td th:text="${envanter.envanterKodu}" />
				<td th:text="${envanter.envanterMiktar}" />
				<td th:text="${envanter.kritikMiktar}" />

			</tr>
		</tbody>
	</table>

	</div>

</body>
</html>



